<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Trigger-Me</h1>
            <form [formGroup]="loginForm">
                <div class="form-content">
                    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [(ngModel)]="user.username" name="username" formControlName="username" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" [(ngModel)]="user.password" name="password" formControlName="password" id="password" placeholder="Password" required>
                    </div>
                </div>
                <button class="btn rounded-btn" [routerLink]="['/dashboard']" [disabled]="!loginForm.valid || isLoading" (click)="login()"> Log in </button> &nbsp;
                <!-- <button class="btn rounded-btn" [routerLink]="['/signup']">Register</button> -->
            </form>
            <span>
                <div *ngIf="isLoading" class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </span>
        </div>
    </div>
</div>
