<div class="modal-header">
    <h4 class="modal-title">{{title}}!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="employeeEditForm">
        <fieldset class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" placeholder="John" [ngClass]="{ 'is-invalid': submitted && efb.empFName.errors }" name="empFName" formControlName="empFName" required>
            <div *ngIf="submitted && efb.empFName.errors">
                <div *ngIf="efb.empFName.errors.required" class="alert alert-danger">First Name is required</div>
                <div *ngIf="efb.empFName.errors.minlength" class="alert alert-danger">First Name should have atleast 2 characters</div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" placeholder="David" [ngClass]="{ 'is-invalid': submitted && efb.empLName.errors }" name="empLName" formControlName="empLName" required>
            <div *ngIf="submitted && efb.empLName.errors">
                <div *ngIf="efb.empLName.errors.required" class="alert alert-danger">Last Name is required</div>
                <div *ngIf="efb.empLName.errors.minlength" class="alert alert-danger">Last Name Name should have atleast 2 characters</div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Phone Number:</label>
            <input type="tel" class="form-control" placeholder="1234567890" maxlength="12" [ngClass]="{ 'is-invalid': submitted && efb.phoneNumber.errors }" name="phoneNumber" formControlName="phoneNumber" required>
            <div *ngIf="submitted && efb.phoneNumber.errors">
                <div *ngIf="efb.phoneNumber.errors.required" class="alert alert-danger">Phone Number is required</div>
                <div *ngIf="efb.phoneNumber.errors.minlength || efb.phoneNumber.errors.maxlength" class="alert alert-danger">Invalid Phone Number</div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" placeholder="abc@xyz.com" [ngClass]="{ 'is-invalid': submitted && efb.email.errors }" name="email" formControlName="email" required>
            <div *ngIf="submitted && efb.email.errors">
                <div *ngIf="efb.email.errors.required" class="alert alert-danger">Email is required</div>
                <div *ngIf="efb.email.errors.email" class="alert alert-danger">Invalid Email</div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Status:</label>
            <input type="text" class="form-control" placeholder="H1/L1/OPT..." [ngClass]="{ 'is-invalid': submitted && efb.status.errors }" name="status" formControlName="status" required>
            <div *ngIf="submitted && efb.status.errors">
                <div *ngIf="efb.status.errors.required" class="alert alert-danger">Status is required</div>
                <div *ngIf="efb.status.errors.minlength" class="alert alert-danger">Status should have atleast 3 characters</div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Status Start Date:</label>
            <div class="form-group">
                <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="statusStartDate" [ngClass]="{ 'is-invalid': submitted && efb.statusStartDate.errors }" name="dp1" ngbDatepicker #dp1="ngbDatepicker">
                    <button class="input-group-addon" (click)="dp1.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
                <div *ngIf="submitted && efb.statusStartDate.errors">
                    <div *ngIf="efb.statusStartDate.errors.required" class="alert alert-danger">Status Start Date is required</div>
                    <div *ngIf="efb.statusStartDate.errors.ngbDate" class="alert alert-danger">Invalid Date</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Status End Date:</label>
            <div class="form-group">
                <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="statusEndDate" [ngClass]="{ 'is-invalid': submitted && efb.statusEndDate.errors }" name="dp2" ngbDatepicker #dp2="ngbDatepicker">
                    <button class="input-group-addon" (click)="dp2.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
                <div *ngIf="submitted && efb.statusEndDate.errors">
                    <div *ngIf="efb.statusEndDate.errors.required" class="alert alert-danger">Status End Date is required</div>
                    <div *ngIf="efb.statusEndDate.errors.ngbDate" class="alert alert-danger">Invalid Date</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Project Start Date:</label>
            <div class="form-group">
                <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="projectStartDate" [ngClass]="{ 'is-invalid': submitted && efb.projectStartDate.errors }" name="dp3" ngbDatepicker #dp3="ngbDatepicker">
                    <button class="input-group-addon" (click)="dp3.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
                <div *ngIf="submitted && efb.projectStartDate.errors">
                    <div *ngIf="efb.projectStartDate.errors.required" class="alert alert-danger">Project Start Date is required</div>
                    <div *ngIf="efb.projectStartDate.errors.ngbDate" class="alert alert-danger">Invalid Date</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Project End Date:</label>
            <div class="form-group">
                <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="projectEndDate" [ngClass]="{ 'is-invalid': submitted && efb.projectEndDate.errors }" name="dp4" ngbDatepicker #dp4="ngbDatepicker">
                    <button class="input-group-addon" (click)="dp4.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
                <div *ngIf="submitted && efb.projectEndDate.errors">
                    <div *ngIf="efb.projectEndDate.errors.required" class="alert alert-danger">Project End Date is required</div>
                    <div *ngIf="efb.projectEndDate.errors.ngbDate" class="alert alert-danger">Invalid Date</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Employee Start Date:</label>
            <div class="form-group">
                <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="empStartDate" [ngClass]="{ 'is-invalid': submitted && efb.empStartDate.errors }" name="dp5" ngbDatepicker #dp5="ngbDatepicker">
                    <button class="input-group-addon" (click)="dp5.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
                <div *ngIf="submitted && efb.empStartDate.errors">
                    <div *ngIf="efb.empStartDate.errors.required" class="alert alert-danger">Employee Start Date is required</div>
                    <div *ngIf="efb.empStartDate.errors.ngbDate" class="alert alert-danger">Invalid Date</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Employee End Date:</label>
            <div class="form-group">
                <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="empEndDate" [ngClass]="{ 'is-invalid': submitted && efb.empEndDate.errors }" name="dp6" ngbDatepicker #dp6="ngbDatepicker">
                    <button class="input-group-addon" (click)="dp6.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
                <div *ngIf="submitted && efb.empEndDate.errors">
                    <div *ngIf="efb.empEndDate.errors.required" class="alert alert-danger">Employee End Date is required</div>
                    <div *ngIf="efb.empEndDate.errors.ngbDate" class="alert alert-danger">Invalid Date</div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label>Employee E-Verified Status:</label>
            <br>
            <div class="btn-group btn-group-toggle" ngbRadioGroup [ngClass]="{ 'is-invalid': submitted && efb.empEVerifyStatus.errors }" name="empEVerifyStatus" formControlName="empEVerifyStatus">
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="true"> Yes
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="false"> No
                </label>
            </div>
            <div *ngIf="submitted && efb.empEVerifyStatus.errors">
                <div *ngIf="efb.empEVerifyStatus.errors.required" class="alert alert-danger">Employee E-Verified Status is required</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="passBackEmployeeEditForm()">Ok</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close')">Close</button>
</div>
