.row-edit, .row-delete{
  cursor: pointer;
}

.row-edit:hover{
  color: #ff8100;
}

.row-delete:hover{
color: red;
}
.card-body {
max-height: 600px !important;
     overflow-y:scroll;
  }

input.mr-sm-2{
  font-family: Arial, FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
}

.empty-records{
  color: grey;
}
